.container_select_card {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  .title_card {
    font-size: 46px;
    text-align: center;
  }

  .description_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    background: rgba(255, 255, 255, 0.01);

    .img_block {
      width: 400px;
      height: 500px;
      overflow: hidden;
      border-radius: 10px;

      img {
        object-fit: cover;
        width: 100%;
      }
    }

    .description_block {
      flex: 1 1 40%;
      align-self: center;
      font-size: 20px;
      line-height: 30px;
      padding: 15px;
      backdrop-filter: blur(10px);
    }
  }

  .series_wrapper {
    h4 {
      font-size: 40px;
      margin-bottom: 20px;
      text-align: center;
    }
    .series_items {
      display: flex;
      gap: 10px;
      flex-wrap: wrap;

      .series_item {
        position: relative;
        padding-left: 15px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 10px;
          height: 10px;
          border-radius: 50%;
          background: #a5d03a;
        }
      }
    }
  }
}