.main_container {
  width: 100%;
  min-height: 100vh;
  background-image: url('../../../assets/img/bc_main.webp');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  overflow: hidden;

  .linear_bc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(180deg, rgba(3, 3, 3, 0) -10%, #030303 95%);

    .pages_container {
      max-width: 1200px;
      width: 100%;
      padding: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      flex: 1 0 auto;
    }
  }
}
