.main_container {
  width: 100%;
  min-height: 100vh;
  background-image: url("../../../assets/img/bc_main.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}