.menu_item {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 24px;

  & a {
    text-align: center;
    color: white;
    transition: all .2s ease-in-out;

    &.active {
      color: #bab9b9;

      &:after {
        content: '';
        display: block;
        width: 100%;
        height: 1px;
        background: #bab9b9;
      }
    }
  }


}