.page_container {
  max-width: 800px;
  width: 100%;
  background: #606060;
  padding: 15px 20px;
  border: 1px solid white;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;

  @media screen and (max-width: 490px){
    flex-wrap: wrap;
  }
}

.result_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}