.characters_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.pagination_block {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 15px;
  margin-inline: 15px;
}
