.pagination {
    padding: 5px;
    background-color: rgba(81, 81, 83, 0.76);
    border-radius: 5px;

    div > button {
        color: #f0fffa;
    }

    button > span > svg.icons--Icon-Svg {
        fill: white;
    }
}

.PaginationItem_active {
    background-color: #686877;
}