.cardContainer {
  width: 300px;
  background: rgba(15, 15, 17, 0.01);
  backdrop-filter: blur(5px);
  cursor: pointer;
  margin: 0 auto;
  padding: 5px;
  border-radius: 10px;
  border: 1px solid rgba(240, 255, 250, 0.44);
  color: white;

  &:hover .text_wrapper:after {
    top: 0;
  }

  &:hover .name_card {
    color: #0f0f11;
  }

  .imgBox {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
      background: transparent;
    }
  }

  .text_wrapper {
    text-align: left;
    padding: 15px;
    background: #2f2c2c;
    border-radius: 10px;
    position: relative;
    overflow: hidden;

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: tomato;
      transition: all .3s ease-in-out;
    }

    .name_card {
      text-transform: capitalize;
      text-align: left;
      font-weight: 600;
      font-size: 28px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      position: relative;
      z-index: 3;
      transition: all .3s ease-in-out;
    }

    .card_description {
      font-size: 18px;
    }
  }
  .card_attribution {
    font-size: 10px;
    padding-left: 15px;
    color: rgba(240, 255, 250, 0.8);
  }
}